@tailwind base;
@tailwind components;
@tailwind utilities;

.About{
  padding: 0;
  margin: 0;

}

.bg-nav{
  background-color: #2C3E50;

}

.icon i{
  background-color: #2C3E50;
  padding: 7px;
 
width: 35px; 
height: 35px;
color: white;
border: 1px solid white;
border-radius: 50px;

}
.bg-body{
  background-color: #1ABC9C;
 }

/*  */
.color-parfold{
  color: #2C3E50;
  }
  .sttyle-pro{


    background-color: #2C3E50;
   
  width: 80px; 
  height: 5px;
color: #2C3E50;
  border: 2 solid white;
  border-radius: 50px;
  


  }
  .row-cusstem{

    @apply flex flex-wrap
    }
    .container{
      width: 85%;
    }
  


.active{
  font-weight: 900;
 border-radius: 10px;
  background-color: #1ABC9C;
  padding: 6px 6px 6px 6px;
  color: white;
}
/*  */
.bg-contaxt{
  color: #2C3E50;
}
